<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vgod.smarthome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--获取手机录音机使用权限,听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限,上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.ConsumerIrManager" />
    <uses-feature android:name="android.hardware.camera" />


    <application
        android:name="constant.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/login_default_avatar_small"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="module.activity.main.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主界面-->
        <activity android:name="module.activity.main.MainActivity"
            android:label="S-XBox"
            />

        <!-- 设置手势密码 -->
        <activity
            android:name="module.activity.gesturepwd.SettingGesturePasswordActivity"
            android:label="@string/setting_gesture_pwd"/>
        <!--设置用户的头像，统计详细信息-->
        <activity android:name="module.activity.user.SettingPortrait"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="填写信息"/>
        <!-- 解锁界面 -->
        <activity android:name="module.activity.gesturepwd.UnLockGesturePasswordActivity" />
        <!--管理手势密码-->
        <activity
            android:name="module.activity.gesturepwd.ManageGesturePasswordActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/back"/>

        <!-- 用户 -->
        <!-- 登录界面 -->
        <activity
            android:name="module.activity.user.LoginActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/login" />
        <!-- 注册界面 -->
        <activity
            android:name="module.activity.user.RegisterActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/register" />
        <!-- 忘记密码界面 -->
        <activity
            android:name="module.activity.user.ForgetPasswordActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/forget_password" />

        <!-- 控制模块 -->
        <activity
            android:name="module.activity.controler.ControlTVActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlADActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlFanActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControllerBulbActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlPJActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlCurtainActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlDoorActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlHeaterActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.security.SecurityCameraActivity"
            android:label="@string/title_activity_security_camera" >
        </activity>
        <activity android:name="module.activity.voicechat.TVProgramActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="电视节目单">
        </activity>
        <activity android:name="module.activity.voicechat.TVProgramSettingActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="电视节目设置">
        </activity>

        <!--common模块-->
        <activity android:name="module.activity.common.AboutActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="关于我们"/>

        <activity android:name="module.activity.common.ContactUsActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="联系我们"
            />
        <activity android:name="module.activity.common.SettingActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="设置"
            />
        <activity android:name="module.activity.common.FastConnectWifiActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="快速连接Wifi"/>
        <!-- 天气测试-->
        <activity android:name="module.activity.common.WeatherInfoActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="天气"/>

        <activity android:name="module.activity.common.SelectControllerActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="选择遥控器"/>
        <activity
            android:name="module.activity.voicechat.VoiceControlActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="语音控制"/>
        <activity android:name="module.activity.voicechat.ShowCommandListActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="定时指令"/>

        <!-- Energy Control-->
        <activity android:name="module.activity.energy.EnergyFanActivity"
            android:theme="@style/SwipeBackActivityTheme"
            android:label="电风扇能耗"/>

        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'55179395'" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />
    </application>

</manifest>
