<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vgod.smarthome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-feature android:name="android.hardware.ConsumerIrManager" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="constant.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="module.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主界面-->
        <activity android:name="module.activity.MainActivity"/>

        <!-- 设置手势密码 -->
        <activity
            android:name="module.activity.gesturepwd.SettingGesturePasswordActivity"
            
            android:label="@string/setting_gesture_pwd"/>
        <!--设置用户的头像，统计详细信息-->
        <activity android:name="module.activity.user.SettingPortrait"            
            android:label="填写信息"/>
        <!-- 解锁界面 -->
        <activity android:name="module.activity.gesturepwd.UnLockGesturePasswordActivity" />
        <!--管理手势密码-->
        <activity
            android:name="module.activity.gesturepwd.ManageGesturePasswordActivity"
            
            android:label="@string/back"/>

        <!-- 用户 -->
        <!-- 登录界面 -->
        <activity
            android:name="module.activity.user.LoginActivity"
            
            android:label="@string/login" />
        <!-- 注册界面 -->
        <activity
            android:name="module.activity.user.RegisterActivity"
            
            android:label="@string/register" />
        <!-- 忘记密码界面 -->
        <activity
            android:name="module.activity.user.ForgetPasswordActivity"
            
            android:label="@string/forget_password" />

        <!-- 控制模块 -->
        <activity
            android:name="module.activity.controler.ControlTVActivity"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlADActivity"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlFanActivity"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControllerBulbActivity"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.controler.ControlPJActivity"
            android:label="@string/controller" />
        <activity
            android:name="module.activity.security.SecurityCameraActivity"
            android:label="@string/title_activity_security_camera" >
        </activity>

        <!--common模块-->
        <activity android:name="module.activity.common.AboutActivity"            
            android:label="关于我们"/>
        <activity android:name="module.activity.common.ContactUsActivity"
            android:label="联系我们"
            />
        <activity android:name="module.activity.common.SettingActivity"
            android:label="设置"
            />
        <activity android:name="module.activity.common.WeatherInfoActivity"
            android:label="天气"/>

        <activity android:name="module.activity.common.SelectControllerActivity"
            android:label="选择遥控器"/>
        <activity android:name="module.activity.voicechat.VoiceControlActivity"
            android:label="语音控制"/>

    </application>

</manifest>
